<section class="p-4">
  <div class="flex items-center">
    <h2 class="text-xl text-primary">Region :</h2>
    <span class="pl-2">{{ country().region }}</span>
  </div>
  <div class="flex items-center">
    <h2 class="text-xl text-primary">Continent:</h2>
    <span class="pl-2">{{ country().continent }}</span>
  </div>
  <div class="flex items-center">
    <h2 class="text-xl text-primary">Language:</h2>
    <span class="pl-2">{{ country().languages }}</span>
  </div>
  <div class="flex items-center">
    <h2 class="text-xl text-primary">Coin:</h2>
    <span class="pl-2">{{ country().coin }}</span>
  </div>
  <div class="flex items-center">
    <h2 class="text-xl text-primary">Limits with:</h2>
    <span class="pl-2">{{ country().limits }}</span>
  </div>
</section>
